<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/style.css">

    <title>Your - Blogs</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <span>Yblog</span>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Articles</a></li>
                <li><a href="/">Contact</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <form action="../post/search" method="post">
                <input class="form-input" name="text" type="text" name="query" placeholder="search here">
                <button class="btn">Search</button>
            </form>

        </div>

    </nav>
    
    <div class="max-width-1 m-auto">
        <hr>
    </div>
    <div class="home-articles max-width-1 m-auto font2">
        <h2>Search Results</h2>
        <% blogs.forEach((blog)=>{%>
            <a href="<%=blog._id%>">

                <div class="home-article ">
                    <div class="home-article-img">
                        <img src="../uploads/<%=blog.image%>" alt="article1">
                    </div>
                    <div class="home-article-content font1">
                        <h3><%=blog.title%></h3>
                        <span><%=blog.username%></span>
                        <span><%=blog.createdAt.toJSON().slice(0,10)%></span>
                    </div>
                    
                </div>
            </a>
        <%}) %>
            
    </div>


    <div class="footer ">
        <p>Copyright &copy; YourBlogs.com</p>
        <a href="https://www.vecteezy.com/free-vector/blog">Vector Credits : Vecteezy</a>

    </div>
</body>

</html>