<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/utils.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/single-post.css">

    <title>Post</title>
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <span>Yblog</span>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Articles</a></li>
                <li><a href="/">Contact</a></li>
            </ul>

        </div>
        <div class="nav-right">
            <input class="form-input" type="text" placeholder="search here">
            <button class="btn">Search</button>
        </div>

    </nav>
    <div class="post-img">
        <img src="../uploads/<%=blog.image%>" alt="atl">
    </div>
    <div class="m-auto single-post-content max-width-2 m-auto">
            <h1>
                <%= blog.title %>
            </h1>
        <div id="text">
            <%- blog.desc %>
        </div>
    </div>
    <div class="max-width-1 m-auto">
        <hr style="margin: 66px;">
    </div>
    <div class="home-articles max-width-1 m-auto font2">
        <h2>People also read</h2>
        <div class="row">
            <% extra.forEach((post)=>{ %>
                <a href="<%=post._id%>">

                    <div class="home-article more-post ">
                        <div class="home-article-img">
                        <img src="../uploads/<%=post.image%>" alt="article">
                    </div>
                    <div class="home-article-content font1 center">
                        <h3>
                            <%=post.title%>
                        </h3>
                        <span>
                            <%=post.username%>
                        </span>
                        <span>
                            <%=post.createdAt.toJSON().slice(0,10)%>
                        </span>
                    </div>
                </div>
            </a>
                <% }) %>
        </div>
    </div>


    <div class="footer ">
        <p>Copyright &copy; YourBlogs.com</p>
        <a href="https://www.vecteezy.com/free-vector/blog">Vector Credits : Vecteezy</a>

    </div>
</body>
<script>
    
</script>
</html>